.MainContent{
    padding-left: 10%;
}

.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.listItems{
    list-style-type: none;
}

li.listItems{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 25px;
}